<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>store</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>

<div class="container-lg">
    <div class="row">
        <div class="col-sm-12">
            <nav th:replace="fragments/navbar :: nav"></nav>
        </div>
    </div>


    <div class="col-sm-12">
        <form th:object="${item}" th:action="@{/item/create/new}" method="post">
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p>Please correct errors below</p>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <!--description            -->
                    <label for="description" class="form-label">Description of product</label>
                    <textarea th:field="${item.description}" class="form-control " id="description" name="description"
                              th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''">
                </textarea>
                    <small class="text-muted">The description should be more than 20 characters and less than 1000</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!--name of product            -->
                    <label for="name">Name of product</label>
                    <input th:field="${item.name}" type="text" class="form-control" id="name" name="name"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                    <small class="text-muted">Product name must be at least 4 characters and less than 100</small>
                </div>
                <div class="col-md-4">
                    <!--price            -->
                    <label for="price">Price of product</label>
                    <input th:field="${item.price}" type="text" class="form-control" id="price" name="price"
                           th:classappend="${#fields.hasErrors('price')} ? 'is-invalid' : ''">
                    <small class="text-muted">The price have to be greater than 0</small>
                </div>
                <div class="col-md-4">
                    <!--stock            -->
                    <label for="stock">Stock item</label>
                    <input th:field="${item.stock}" type="text" class="form-control" id="stock" name="stock"
                           th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid' : ''">
                    <small class="text-muted">The number of items sold must be greater than or equal to zero</small>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary small ">Submit</button>
                </div>
            </div>
        </form>

    </div>


</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
</body>
</html>