<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>store</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>

<div class="container-md" >
    <div class="row">
        <div class="col-sm-12">
            <nav th:replace="fragments/navbar :: nav"></nav>
        </div>
    </div>

    <div class="container-lg">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success" role="alert" th:if="${exception != null}" th:text="${exception}">Exception</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 border-top border-bottom ">
            <div class="row">
                <div class="col-sm-4 flex-box paddingTopBottom">
                    <form method="POST" th:action="@{/item/addToCart(id=${item.id})}">
                        <button type="submit" name="submit" value="value" class="link-button">Add to cart</button>
                    </form>
                </div>
                <div class="col-sm-4 paddingTopBottom">
                    <h4>Price: <span class="badge bg-primary " th:text="${item.price}+' $'"></span></h4>
                </div>
                <div class="col-sm-4 paddingTopBottom">
                    <h4>Stock: <span class="badge bg-primary" th:text="${item.stock}"></span></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="h3 text-muted" th:text="${item.name}"></p>

            <p th:text="${item.description}" class="" ></p>
        </div>
    </div>


</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
</body>
</html>