<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>store</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav th:replace="fragments/navbar :: nav"></nav>
        </div>
    </div>

    <div class="row itemRowPadding">
        <div class="col-sm-12" th:each="item : ${items}">
            <!--@thymesVar id="item" type="orchowski.tomasz.ecommercedemo.domain.Item"-->
            <div class="row">
                <div class="col-sm-2 leftInfoNav">

                    <p th:text="'Price : '+${item.price}"></p>
                    <p th:text="'Stock : '+${item.stock}"></p>
                </div>
                <div class="col-sm-9 midInfoNav">
                    <p th:text="${#strings.substring(item.description,
                    0,
                    #strings.length(item.description)>250 ? 250 : #strings.length(item.description)
                    ) + '...'}"></p>
                </div>
                <div class="col-sm-1 rightInfoNav"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="navpanation">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item"><a class="page-link" th:href="'/item/show?pageNo='+${pageNumber-1}">Previous</a></li>
                    <li class="page-item"><a class="page-link" th:href="'/item/show?pageNo='+${pageNumber+1}">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div th:text="${#authentication.name}">
        The value of the "name" property of the authentication object should appear here.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>

</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
</body>
</html>