<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>store</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>

<div class="container-lg" >

    <div class="row">
        <div class="col-sm-12">
            <nav th:replace="fragments/navbar :: nav"></nav>
        </div>
    </div>
    <div class="col-sm-12">
        <div th:replace="fragments/notification :: notification"></div>
    </div>

    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-md-6">

                    <h1 class="display-5 fw-bolder" th:text="${item.name}">Name of product</h1>
                    <p  class="small  position-relative" style="top: -1.5rem;">In stock: [[${item.stock}]]</p>

                    <div class="fs-5 mb-5">
                        <span th:if="${item.isSell}" th:text="|${item.price} $|" class="text-decoration-line-through text-muted">$45.00</span>
                        <span th:if="${item.isSell}" th:text="|${item.sellPrice} $|" class="text-success">$40.00</span>
                        <span th:text="|${item.price} $|" th:if="!${item.isSell}" class="">$40.00</span>
                    </div>
                    <p class="lead" th:text="${item.description}">lead text</p>
                    <div class="d-flex">
                        <form class="input-group"  method="POST" th:action="@{/item/addToCart}">
                            <input class="form-control text-center me-3" id="numberOfItems" name="numberOfItems" type="num" value="1" style="max-width: 3rem" />
                            <button id="id" name="id" th:value="${item.id}" class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->


</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
</body>
</html>