<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>store</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>

<div class="container-md ">

    <div class="row">
        <div class="col-sm-12">
            <nav th:replace="fragments/navbar :: nav"></nav>
        </div>
    </div>






    <section class="py-5 ">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <div class="col mb-5" th:each="item : ${items}">
                    <div class="card h-100">
                        <!--Sell icon-->
                        <div th:if="${item.isSell}" class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                        <!--Shooping cart button-->
                        <form method="POST" th:action="@{/item/addToCart(numberOfItems=${1})}">
                            <button name="id" th:value="${item.id}" class="position-absolute text-black-50"  style="border: none;background: none; bottom: 0.5rem; right: 0.5rem">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16" >
                                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </button>
                        </form>



                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" th:text="${item.name}"></h5>
                                <!-- Product price-->
                                <p th:if="!${item.isSell}" th:text="|${item.price} $|"></p>

                                <span th:if="${item.isSell}" th:text="|${item.price}|" class="text-muted text-decoration-line-through">price before sell</span>
                                <span th:if="${item.isSell}" th:text="|${item.sellPrice} $|">sell price</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                            <div class="text-center"><a th:href="@{'/item/'+ ${item.id} + '/show' }" class="btn btn-outline-dark mt-auto" href="#">View</a></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="navpanation">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item"><a th:href="'/item/show?pageNo='+${pageNumber-1}" class="page-link text-black-50 text-center" style="width: 100px">Previous</a></li>
                    <li class="page-item"><a th:href="'/item/show?pageNo='+${pageNumber+1}" class="page-link text-black-50 text-center" style="width: 100px">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>



</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
</body>
</html>