<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin homepage</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/default.css}">
    <link th:rel="stylesheet" th:href="@{/css/background.css}">

</head>
<body>



<div class="container-md">
    <div class="row">
        <div class="col-sm-12">
            <nav th:replace="fragments/navbar :: nav"></nav>
        </div>
    </div>
    <div class="col-12">
        <div th:replace="fragments/notification :: notification"></div>
    </div>

    <div class="row mt-3">
        <div class="container-lg ">
            <div class="row " style="min-height: 750px">
                <div class="col-lg-4">
                    <div class="row  gx-md-1 whiteBackgroundShadowSubtle">
                        <div class="list-group ">
                            <a href="#" class="list-group-item list-group-item-action active h4" aria-current="true">Edit user credentials</a>

                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Username :</strong></p>
                                <p th:text="${user.username}" style="display: inline"></p>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Email :</strong></p>
                                <p th:text="${user.email}" style="display: inline"></p>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>password :</strong></p>
                                <p style="display: inline">***</p>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Locked :</strong></p>
                                <p th:text="${!user.isAccountNonLocked()}" style="display: inline"></p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <form method="POST" th:action="@{|/admin/usersList/${user.id}|(changeLock=true)}">
                                        <button th:text="${user.accountNonLocked}? 'Lock':'Unlock'" class="btn btn-outline-primary" style="width: 100px" type="submit" name="submit" value="value" ></button>
                                    </form>
                                </div>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Roles :</strong></p>
                                <p th:each="role:${roles}" th:text="${role.name}" style=""></p>
                            </li>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="row  gx-md-1 whiteBackgroundShadowSubtle">
                        <p>Empty :3 </p>
                    </div>
                </div>
                <div class="col-lg-4 " >
                    <!--TODO-->
                        <div class="row  gx-md-1 whiteBackgroundShadowSubtle" >
                            <div class="list-group" id="accordion">
                                <a href="#" class="list-group-item list-group-item-action active h4" aria-current="true">Delivery addresses</a>
                                <div th:each="addr,n : ${user.deliveryAddressList}" th:id="|addr${n.index}|" class="accordion">
                                    <div class="accordion-item">
                                        <h2 th:id="|addr${n.index}|" class="accordion-header" id="headingOne">
                                            <button th:attr="data-bs-target = |#collapse${addr.id}|, aria-controls=|collapse${addr.id}|"
                                                    aria-expanded="true"
                                                    class="accordion-button" type="button" data-bs-toggle="collapse">
                                                Address
                                            </button>
                                        </h2>
                                        <!--TODO th set data-bs-perretn-->
                                        <div th:id="|collapse${addr.id}|" th:classappend="${n.first}? 'show':''"  class="accordion-collapse collapse"  data-bs-parent="#accordion">
                                            <!--th:classappend="${n.index==0}? 'show ':' '"-->
                                            <div class="accordion-body">
                                                <ul class="list-group">
                                                    <li  class="list-group-item" >
                                                        <span class="badge bg-info" style="width: 100px">zip code</span>
                                                        <p th:text="${addr.zipCode}" th:id="|zipCode${addr.id}|"></p>
                                                    </li>
                                                    <li  class="list-group-item">
                                                        <span class="badge bg-info" style="width: 100px">city</span>
                                                        <p th:text="${addr.city}" th:id="|city${addr.id}|"></p>
                                                    </li>
                                                    <li  class="list-group-item">
                                                        <span class="badge bg-info" style="width: 100px">street</span>
                                                        <p th:text="${addr.street}"  th:id="|street${addr.id}|"></p>
                                                    </li>
                                                    <li  class="list-group-item">
                                                        <span class="badge bg-info" style="width: 100px">home number</span>
                                                        <p th:text="${addr.homeNumber}" th:id="|homeNumber${addr.id}|"></p>
                                                    </li>
                                                    <li  class="list-group-item">
                                                        <span class="badge bg-info" style="width: 100px">phone number</span>
                                                        <p th:text="${addr.phoneNumber}" th:id="|phoneNumber${addr.id}|"></p>
                                                    </li>
                                                </ul>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <form th:method="DELETE" method="DELETE" th:action="@{|/admin/usersList/${user.id}/deleteAddress|(addressID=${addr.id})}">
                                                        <button class="btn btn-outline-danger my-2 me-1 " type="submit" name="submit" value="value" style="width: 100px;">Delete</button>
                                                    </form>
                                                    <form method="GET" th:action="@{|/admin/usersList/${user.id}/editAddress|}">
                                                        <button class="btn btn-outline-primary my-2 mx-1" type="submit" name="addressID" th:value="${addr.id}"  style="width: 100px;">Edit</button>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form method="GET" th:action="@{|/admin/usersList/${user.id}/addAddress|}">
                                    <button class="btn btn-outline-primary" type="submit" name="submit" value="value" style="width: 100px;margin-top: 10px">ADD</button>
                                </form>
                            </div>
                        </div>
                </div>


            </div>
            <p th:text="|Create: ${user.createdDate} Update: ${user.lastModifiedDate}|" class="text-center"></p>
        </div>
    </div>



</div>






<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
</body>
</html>