<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin homepage</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/default.css}">
    <link th:rel="stylesheet" th:href="@{/css/background.css}">

</head>
<body>

<div class="container-md">
    <div class="row">
        <div class="col-sm-12">
            <nav th:replace="fragments/navbar :: nav"></nav>
        </div>
    </div>

    <div class="row">
        <p class="h1 text-center ">Admin panel</p>
        <div class="container-sm whiteBackgroundShadow">
            <div class="row ">
                <div class="col-lg-4">
                    <div class="row  gx-md-1 whiteBackgroundShadowSubtle">
                        <div class="list-group ">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Edit user credentials</a>

                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Username :</strong></p>
                                <p th:text="${user.username}" style="display: inline"></p>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Email :</strong></p>
                                <p th:text="${user.email}" style="display: inline"></p>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>password :</strong></p>
                                <p style="display: inline">***</p>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Locked :</strong></p>
                                <p th:text="${!user.isAccountNonLocked()}" style="display: inline"></p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <form method="POST" th:action="@{|/admin/usersList/${user.id}|(changeLock=true)}">
                                        <button class="btn btn-outline-primary" type="submit" name="submit" value="value" th:text="${user.accountNonLocked}? 'Lock':'Unlock'"></button>
                                    </form>
                                </div>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Roles :</strong></p>
                                <p th:each="role:${roles}" th:text="${role.name}" style=""></p>
                            </li>

                        </div>
                    </div>
                </div>
<!--                <div class="col-lg-4 ">-->
<!--                    <div class="row  gx-md-1 whiteBackgroundShadowSubtle">-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 ">-->
<!--                    <div class="row  gx-md-1 whiteBackgroundShadowSubtle">-->

<!--                    </div>-->
<!--                </div>-->

            </div>
            <p th:text="|Create: ${user.createdDate} Update: ${user.lastModifiedDate}|" class="text-center"></p>
        </div>
    </div>


</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
</body>
</html>