<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin homepage</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/default.css}">
    <link th:rel="stylesheet" th:href="@{/css/background.css}">

</head>
<body>

<div class="container-md">
    <div class="row">
        <div class="col-sm-12">
            <nav th:replace="fragments/navbar :: nav"></nav>
        </div>
    </div>

    <div class="row">
        <p class="h1 text-center ">Admin panel</p>
        <div class="container-sm whiteBackgroundShadow">
            <div class="row ">
                <div class="col-lg-4">
                    <div class="row  gx-md-1 whiteBackgroundShadowSubtle">
                        <div class="list-group ">
                            <a href="#" class="list-group-item list-group-item-action active h4" aria-current="true">Edit user credentials</a>

                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Username :</strong></p>
                                <p th:text="${user.username}" style="display: inline"></p>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Email :</strong></p>
                                <p th:text="${user.email}" style="display: inline"></p>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>password :</strong></p>
                                <p style="display: inline">***</p>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Locked :</strong></p>
                                <p th:text="${!user.isAccountNonLocked()}" style="display: inline"></p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <form method="POST" th:action="@{|/admin/usersList/${user.id}|(changeLock=true)}">
                                        <button th:text="${user.accountNonLocked}? 'Lock':'Unlock'" class="btn btn-outline-primary" style="width: 100px" type="submit" name="submit" value="value" ></button>
                                    </form>
                                </div>
                            </li>
                            <li class="list-group-item" >
                                <p style="display: inline"><strong>Roles :</strong></p>
                                <p th:each="role:${roles}" th:text="${role.name}" style=""></p>
                            </li>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <!--TODO-->
                        <div class="row  gx-md-1 whiteBackgroundShadowSubtle">
                            <div class="list-group ">
                                <a href="#" class="list-group-item list-group-item-action active h4" aria-current="true">Delivery addresses</a>
                                <div th:each="addr,n : ${user.deliveryAddressList}" th:id="|addr${n.index}|" class="accordion">
                                    <div class="accordion-item">
                                        <h2 th:id="|addr${n.index}|" class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                            th:text="${n.index}">
                                            </button>
                                        </h2>
                                        <!--TODO th set data-bs-perretn-->
                                        <div id="collapseOne"  class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <!--th:classappend="${n.index==0}? 'show ':' '"-->
                                            <div class="accordion-body">
                                                <ul class="list-group">
                                                    <li th:text="|Zip code: ${addr.zipCode}|" th:id="|zipCode${addr.id}|" class="list-group-item">Zip code</li>
                                                    <li th:text="|City: ${addr.city}|" th:id="|city${addr.id}|" class="list-group-item">City</li>
                                                    <li th:text="|Street: ${addr.street}|" th:id="|street${addr.id}|" class="list-group-item">Street</li>
                                                    <li th:text="|Home number: ${addr.homeNumber}|" th:id="|homeNumber${addr.id}|" class="list-group-item">homeNumber</li>
                                                    <li th:text="|Phone number: ${addr.phoneNumber}|" th:id="|phoneNumber${addr.id}|" class="list-group-item">phone number</li>
                                                </ul>
                                                <!--th:action="@{|/admin/usersList/${user.id}|(changeLock=true)}"-->
                                                <!--TODO IMPLEMENTATION-->
                                                <button  type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 100px;margin-top: 10px"
                                                        th:attr="data-bs-target = '#addressModal'" >
                                                    EDIT
                                                </button>

                                                <!--<form method="GET">-->
                                                <!--    <button class="btn btn-outline-primary" type="submit" name="submit" value="value" style="width: 100px">Edit</button>-->
                                                <!--</form>-->
                                                <!--<form method="GET">-->
                                                <!--    <button class="btn btn-outline-danger" type="submit" name="submit" value="value" style="width: 100px">Delete</button>-->
                                                <!--</form>-->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form method="GET" >
                                    <button class="btn btn-outline-primary" type="submit" name="submit" value="value" style="width: 100px;margin-top: 10px">ADD</button>
                                </form>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="row  gx-md-1 whiteBackgroundShadowSubtle">
                        <p>Test</p>
                    </div>
                </div>

            </div>
            <p th:text="|Create: ${user.createdDate} Update: ${user.lastModifiedDate}|" class="text-center"></p>
        </div>
    </div>


</div>

<!--MODALS-->
<div id="addressModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:object="${command}"  method="POST" >
                <!--need to write th:action="-->
                <input type="hidden" th:field="*{id}"/>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="zioCode">Zip code</label>
                        <input th:field="*{zipCode}" type="text" class="form-control" id="zioCode"  placeholder="Zip code">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input th:field="*{city}" type="text" class="form-control" id="city" placeholder="City">
                    </div>
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input th:field="*{street}" type="text" class="form-control" id="street" placeholder="Street">
                    </div>
                    <div class="form-group">
                        <label for="homeNumber">Home number</label>
                        <input th:field="*{homeNumber}" type="text" class="form-control" id="homeNumber" placeholder="Home number">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone number</label>
                        <input th:field="*{phoneNumber}" type="text" class="form-control" id="phoneNumber" placeholder="Phone number">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--MODALS END-->
<script th:inline="javascript">

    var username = [[${user.username}]];
    console.log(username);

</script>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
</body>
</html>