<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>

<div class="container-lg">
    <div class="row">
        <div class="col-sm-12">
            <nav th:replace="fragments/navbar :: nav"></nav>
        </div>

        <div class="col-12">
            <div th:replace="fragments/notification :: notification"></div>
        </div>

    </div>
</div>



<div class="container-lg p-3">
    <h1 class="display-6">Your cart:</h1>
    <div class="row col-md-12 px-md-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="keyvalue : ${session.cart.mapItemInt}" th:with="item = ${keyvalue['key']}, quantity = ${keyvalue['value']} ">
                    <!--/*@thymesVar id="item" type="orchowski.tomasz.ecommercedemo.command.ItemCommand"*/-->
                    <td><a th:text="${item.name}" th:href="@{'/item/'+ ${item.id} + '/show' }" class="text-dark"></a></td>
                    <td>
                        <!--Quantity-->
                        <form th:action="@{/item/editCart(productID=${item.id})}" method="post" class="input-group mb-3" style="width: 150px">
                            <input type="text" class="form-control me-1" id="numberOfItems" name="numberOfItems" th:value="${quantity}" >
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">Change</button>
                            </div>
                        </form>
                    </td>
                    <td th:text="|${item.price * quantity} $|">25 $</td>
                    <td>
                        <form method="POST" th:action="@{/user/cart/removeItem(id=${item.id})}">
                            <button class="btn btn-outline-danger" type="submit" name="submit" value="id" >Remove</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
</body>
</html>