.whiteBackgroundShadow{
    box-shadow: 1px 1px 20px grey;
    padding: 2%;
    margin-bottom:7% ;
    border-radius: 0.25rem;
}

.whiteBackgroundShadowSubtle{
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    padding: 3px;
    margin-bottom:3%;
    border-radius: 0.25rem;

}

.testBackground{
    background: chartreuse;
}

