.whiteBackgroundShadow{
    box-shadow: 1px 1px 20px grey;
    padding: 2%;
    margin-bottom:7% ;
    border-radius: 0.25rem;
}

.whiteBackgroundShadowSubtle{
    box-shadow: 1px 1px 18px -4px grey;
    padding: 2%;
    margin-bottom:7%;

    border-radius: 0.25rem;
}

.testBackground{
    background: chartreuse;
}

