<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Login page</h1>
    <p th:if="${loginError}">username or password incorrect</p>
    <form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" autofocus="true">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="login in">
    </form>
    <div sec:authorize="isAuthenticated()">
        <p>You have alredy login<br></p>
        <a th:href="@{/}">Back to home page</a>
    </div>
</body>
</html>